astroid==2.15.4
boltons==23.0.0
certifi==2023.5.7
charset-normalizer==3.1.0
coverage==7.2.5
dill==0.3.6
docopt==0.6.2
environs==9.5.0
idna==3.4
importlib-metadata==6.6.0
iniconfig==2.0.0
isort==5.12.0
jaraco.classes==3.2.3
keyring==23.13.1
lazy-object-proxy==1.9.0
marshmallow==3.19.0
mccabe==0.7.0
more-itertools==9.1.0
msgpack==1.0.5
packaging==23.1
pendulum==2.1.2
platformdirs==3.5.0
pluggy==1.0.0
pycodestyle==2.10.0
pylint==2.17.4
pytest==7.3.1
pytest-cov==4.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytzdata==2020.1
requests==2.30.0
six==1.16.0
dependencies/sourcedefender-10.0.13.tar.gz
TgCrypto==1.2.5
tomlkit==0.11.8
urllib3==2.0.2
wrapt==1.15.0
zipp==3.15.0
dependencies/submitter_utils_ppp_p5-1.0.tar.gz
